# apikey
OPENAI_API_KEY=
# api host
OPENAI_HOST=
# 模型名称
EMBEDDING_MODEL_NAME=
# embedding 向量维度
DIMENSIONS=1536
# jwt secret
JWT_SECRET=
# JWT expiration time in seconds
JWT_EXP_SECONDS=300
# debug web
IS_DEBUG=false
# database url
DATABASE_URL=
